/* change background to gray for all the files */
body{
	background-color: gray;
}
header{
	color:red;
	font-size: 200%;
}
p{
	color: orange;
}

/* change index.html file */
#welcome{
	color: red;
}
#intro{
	color:purple;
	font-family: Helvetica;
}
#footone{
	font-family: Courier;
	font-size: 100%;
}
	
/* change work history */
#HCL{
	font-family: Courier;
}
#inland{
	color:purple;
}
#foottwo{
	text-align:center;
	font-size: 150%;
}

/* change education history */
#education{
	color: Orange;
}
#ed{
	font-size: 150%;
	color: green;
}
#pro{
	font-family: Helvetica;
	color: red;
}

/* change for video file */
#vidwel{
	text-align:center;
}
#video{
	text-align: center;
}
#vidfoot{
	text-align: center;	
}