/* change background to gray for all the files */
body{
	background-color: gray;
}
header{
	color:red;
	font-size: 200%;
}
article {
	border:1px solid black;
	padding: 1px;
}

/* change index.html file */
#welcome{
	color: red;
}
#intro{
	color:purple;
	font-family: Helvetica;
}
article {
	border:1px solid black;
	padding: 1px;
}
	
/* change work history */
#HCL{
	font-family: Courier;
}
#inland{
	color:purple;
}
#foottwo{
	border: 1px solid black;
	text-align:center;
	font-size: 150%;
}

/* change education history */
#education{
	color: Orange;
}
#ed{
	font-size: 150%;
	color: green;
}
#pro{
	font-family: Helvetica;
	color: red;
}

/* change for video file */
#vidwel{
	text-align:center;
}
#video{
	text-align: center;
}
#vidfoot{
	text-align: center;	
}